html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.topnavbar {
	background-color: #fff;
	position: fixed;
	width: 100%;
}
.topnavbar > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	line-height: 16px;
}
.logo {
	height: 4.375rem;
	vertical-align: baseline;
	box-sizing: border-box
}
.body > .links, .content {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	margin-top: 25px;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
.topnavbar .links li {
	display: inline-block;
	margin-left: 25px;
}
.topnavbar .links .active {
	color: #4c5058
	font-weight: 500;
}
.topnavbar .links li:hover {
	cursor: pointer;
	color: #333333;
}
.introduction {
	background-image: url('images/first-background copy.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	background-position: 0 bottom;
	overflow: auto;
	display: block;
}
.content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.introduction h1, .introduction h3 {
	text-align: center;
	color: white;
	font-weight: 300;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}
.button {
	border-top-style: none;
	border-top-width: 0px
	box-sizing border-box;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	display: block;
	margin: 0 auto;
	color: rgb(255, 255, 255);
	font-size: 18px;
	padding-bottom: 16px
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 24px;

}