html {
	box-sizing: border-box;
	margin: 0;
	padding: 0
	border: 0
	font-size: 100%;
	vertical-align: baseline;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.topnavbar {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.topnavbar > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	line-height: 16px;
}
.topnavbar .logo {
	height: 4.735rem;
	color: black;
}
.logo {
	width: 26px;
}
.body > .links, .content {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	margin-top: 25px;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
.topnavbar .links li {
	display: inline-block;
	margin-left: 25px;
}
.topnavbar .links .active {
	color: #4c5058
	font-weight: 500;
}
.topnavbar .links li:hover {
	cursor: pointer;
	color: #333333;
}
.introduction {
	background-image: url('images/first-background copy.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	background-position: 0 bottom;
	overflow: auto;
	display: block;
}
.content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.introduction h1, .introduction h3 {
	text-align: center;
	color: white;
	font-weight: 300;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}
.buttons {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
}
.cases .devices {
    width: 33.3333333%;
	display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
    flex-shrink: 10;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 0 auto;
}
